/* Tutorial */
.tutorial {
  margin-bottom: 25px;
}

.home__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}

.tutorial__list {
  margin: 0;
  padding: 0 15px;
}

.tutorial__item {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.tutorial__item:not(:last-child) {
  margin-bottom: 14px;
}

.tutorial__item::marker {
  color: var(--dark-red);
}
