:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --green: #A8B64F;
  --white: #FFFFFF;
  --black: #333333;
  --beige: #F4F4F4;
  --pink: #EA8979;
  --light-red: #EE735D;
  --red: #DC3E22;
  --dark-red: #B7280F;
  --greyC4: #C4C4C4;
  --grey99: #999999;
  --blue: #7FC2D7;
  --purple: #9C97D7;
  --yellow: #FFAE35;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: local('../public/fonts/SFUIDisplay-Bold.woff2') format(woff2),
    local('../public/fonts/SFUIDisplay-Bold.woff') format(woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: local('../public/fonts/SFUIDisplay-Medium.woff2') format(woff2),
    local('../public/fonts/SFUIDisplay-Medium.woff') format(woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: local('../public/fonts/SFUIDisplay-Regular.woff2') format(woff2),
    local('../public/fonts/SFUIDisplay-Regular.woff') format(woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: local('../public/fonts/SFUIDisplay-Light.woff2') format(woff2),
    local('../public/fonts/SFUIDisplay-Light.woff') format(woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: local('../public/fonts/SFUIDisplay-Ultralight.woff2') format(woff2),
    local('../public/fonts/SFUIDisplay-Ultralight.woff') format(woff);
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: SFUIDisplay, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.non-display {
  display: none;
}

.container {
  padding: 0 80px;
}
