:root {
  color-scheme: light dark;

  --green: #A8B64F;
  --dark-green: #899441;
  --white: #FFFFFF;
  --black: #333333;
  --beige: #F4F4F4;
  --pink: #EA8979;
  --light-red: #EE735D;
  --red: #DC3E22;
  --dark-red: #B7280F;
  --greyC4: #C4C4C4;
  --grey99: #999999;
  --greyE4: #E4E4E4;
  --blue: #7FC2D7;
  --purple: #9C97D7;
  --yellow: #FFAE35;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Ultralight.woff2') format(woff2),
    url('/fonts/SFUIDisplay-Ultralight.woff') format(woff);
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Light.woff2') format(woff2),
    url('/fonts/SFUIDisplay-Light.woff') format(woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Regular.woff2') format(woff2),
    url('/fonts/SFUIDisplay-Regular.woff') format(woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Medium.woff2') format(woff2),
    url('/fonts/SFUIDisplay-Medium.woff') format(woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('/fonts/SFUIDisplay-Bold.woff2') format(woff2),
    url('/fonts/SFUIDisplay-Bold.woff') format(woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: SFUIDisplay, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.non-display {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding: 0 80px;
}

/* Dropdown */

.dropdown {
  width: 100%;
  flex: 1 1 0%;
}

.dropdown__container {
  position: relative;
}

.dropdown__list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Header */

.header {
  padding: 15px 80px;
  margin-bottom: 100px;
}

.header__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header__main-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 300;
  color: var(--red);
}

.main-link__img {
  max-width: 40px;
  max-height: 40px;
}

.header__stats-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--red);
  transition: color 0.3s ease-in-out;
}

.header__stats-link svg path {
  fill: var(--red);
  transition: fill 0.3s ease-in-out;
}

.header__stats-link:focus {
  color: var(--dark-red);
}

.header__stats-link:focus svg path {
  fill: var(--dark-red);
}

.header__stats-link:hover {
  color: var(--dark-red);
}

.header__stats-link:hover svg path {
  fill: var(--dark-red);
}