.main {
  display: flex;
  flex-flow: row nowrap;
  gap: 3%;
}

.main__left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  flex-basis: 40%;
}

.main__right {
  flex-basis: 57%;
}

@keyframes slideOut {
  from {
    height: 100%;
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

.slideout {
  animation: slideOut 0.3s ease-in-out;
}
