.main {
  display: flex;
  flex-flow: row nowrap;
  gap: 3%;
  padding-bottom: 150px;
}

.main__left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  flex-basis: 40%;
}

.main__right {
  flex-basis: 57%;
}