/* Timer */
.timer {
  position: sticky;
  top: 20px;
  display: flex;
  flex-flow: column wrap;
}

.timer__head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--greyC4);
  transition: background-color 0.3s ease-in-out;
}

.timer__head--stopped {
  background-color: var(--greyC4);
}

.timer__head--work {
  background-color: var(--red);
}

.timer__head--break {
  background-color: var(--green);
}

.timer__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-color);
}

.timer_num {
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-color);
}

.timer__body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  background-color: var(--lighter-tone);
}

.timer__time-block {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 415px;
  margin-top: 40px;
  margin-bottom: 150px;
}

.timer__svg {
  position: absolute;
  top: -75%;
  left: 0;
  transform: scaleX(-1);
}

.timer__circle {
  fill: none;
  stroke: none;
}

.timer__path-elapsed {
  stroke-width: 5px;
  stroke: var(--grey99);
}

.timer__path-remaining {
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
}

.timer__path-remaining--stopped {
  stroke: var(--grey99);
}

.timer__path-remaining--work {
  stroke: var(--red);
}

.timer__path-remaining--break {
  stroke: var(--green);
}

.timer__time {
  margin: 0;
  font-size: 130px;
  font-weight: 200;
  line-height: 159px;
  transition: color 0.3s ease-in-out;
}

.timer__time--stopped {
  color: var(--text-color);
}

.timer__time--work {
  color: var(--red);
}

.timer__time--break {
  color: var(--green);
}

.timer__add {
  position: absolute;
  top: 38%;
  right: -65px;
}

.timer__add-icon svg circle {
  fill: var(--greyC4);
  transition: fill 0.3s ease-in-out;
}

.timer__add:focus svg circle {
  fill: var(--dark-green);
}

.timer__add:hover svg circle {
  fill: var(--dark-green);
}

.timer__add-icon svg path {
  fill: var(--bg-color);
}

.timer__add:disabled {
  cursor: not-allowed;
}

.timer__add:disabled:focus svg circle,
.timer__add:disabled:hover svg circle {
  fill: var(--greyC4);
}

.timer__task {
  margin: 0;
  margin-bottom: 30px;
}

.timer__task-num,
.timer__task-name {
  font-size: 16px;
  font-weight: 400;
}

.timer__task-num {
  color: var(--greyC4);
}

.timer__task-name {
  color: var(--text-color);
}

.timer__controls {
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}

.timer__start {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-color);
  background-color: var(--green);
  transition: background-color 0.3s ease-in-out;
}

.timer__start:focus {
  background-color: var(--dark-green);
}

.timer__start:hover {
  background-color: var(--dark-green);
}

.timer__stop {
  padding: 20px 50px;
  border: 1px solid var(--red);
  font-size: 16px;
  font-weight: 500;
  color: var(--red);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.timer__stop:focus {
  color: var(--bg-color);
  background-color: var(--red);
}

.timer__stop:hover {
  color: var(--bg-color);
  background-color: var(--red);
}

.timer__btn:disabled {
  border: 1px solid var(--greyC4);
  color: var(--greyC4);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: not-allowed;
}

.timer__btn:disabled:focus {
  color: var(--bg-color);
  background-color: var(--greyC4);
}

.timer__btn:disabled:hover {
  color: var(--bg-color);
  background-color: var(--greyC4);
}
