/* Timer */
@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shrinkFade {
  100% {
    height: 0;
    margin: 0;
    opacity: 0;
  }
}

@keyframes growFade {
  100% {
    height: auto;
    opacity: 1;
  }
}

@keyframes moveCallout {
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.timer {
  position: sticky;
  top: 20px;
  display: flex;
  flex-flow: column wrap;
}

.timer__head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--greyC4);
  transition: background-color 0.3s ease-in-out;
}

.timer__head--stopped {
  background-color: var(--greyC4);
}

.timer__head--work {
  background-color: var(--red);
}

.timer__head--break {
  background-color: var(--green);
}

.timer__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.timer_num {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.timer__body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  background-color: var(--beige);
}

.timer__time-block {
  position: relative;
  min-width: 375px;
}

.timer__time {
  margin: 0;
  font-size: 150px;
  font-weight: 200;
  line-height: 179px;
  transition: color 0.3s ease-in-out;
}

.timer__time--stopped {
  color: var(--black);
}

.timer__time--work {
  color: var(--red);
}

.timer__time--break {
  color: var(--green);
}

.timer__add {
  position: absolute;
  top: 38%;
  right: -65px;
}

.timer__add-icon svg circle {
  fill: var(--greyC4);
  transition: fill 0.3s ease-in-out;
}

.timer__add:focus svg circle {
  fill: var(--dark-green);
}

.timer__add:hover svg circle {
  fill: var(--dark-green);
}

.timer__add-icon svg path {
  fill: var(--white);
}

.timer__add:disabled {
  cursor: not-allowed;
}

.timer__add:disabled:focus svg circle,
.timer__add:disabled:hover svg circle {
  fill: var(--greyC4);
}

.timer__task {
  margin: 0;
  margin-bottom: 30px;
}

.timer__task-num,
.timer__task-name {
  font-size: 16px;
  font-weight: 400;
}

.timer__task-num {
  color: var(--greyC4);
}

.timer__task-name {
  color: var(--black);
}

.timer__controls {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}

.timer__start {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--green);
  transition: background-color 0.3s ease-in-out;
}

.timer__start:focus {
  background-color: var(--dark-green);
}

.timer__start:hover {
  background-color: var(--dark-green);
}

.timer__stop {
  padding: 20px 50px;
  border: 1px solid var(--red);
  font-size: 16px;
  font-weight: 500;
  color: var(--red);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.timer__stop:focus {
  color: var(--white);
  background-color: var(--red);
}

.timer__stop:hover {
  color: var(--white);
  background-color: var(--red);
}

.timer__btn:disabled {
  border: 1px solid var(--greyC4);
  color: var(--greyC4);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: not-allowed;
}

.timer__btn:disabled:focus {
  color: var(--white);
  background-color: var(--greyC4);
}

.timer__btn:disabled:hover {
  color: var(--white);
  background-color: var(--greyC4);
}
