/* MainStatsBlock */
.stats__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  gap: 5%;
}

.stats__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 20%;
}

.stats__right {
  width: 75%;
  background-color: var(--lighter-tone);
}

.curr-day {
  min-height: 260px;
  padding: 25px;
  background-color: var(--lighter-tone);
}

.curr-day__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.curr-day__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.curr-day__time {
  font-weight: 700;
  color: var(--red);
}

.curr-tomatoes {
  background-color: var(--lighter-tone);
}

.curr-tomatoes__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  min-height: 130px;
}

.curr-tomatoes__img {
  width: 81px;
  height: 81px;
}

.curr-tomatoes__count1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--grey99);
}

.curr-tomatoes__count2 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--red);
}

.curr-tomatoes__image--no-data {
  padding: 32px;
}

.curr-tomatoes__image--no-data img {
  width: 115px;
  height: 115px;
}